<a href="https://colab.research.google.com/github/pepinadas/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejemplo 3.1

Sue1 = float(input("Colocar el salario del empleador 1\n$"))
Sue2 = float(input("Colocar el salario del empleador 2\n$"))
Sue3 = float(input("Colocar el salario del empleador 3\n$"))
Sue4 = float(input("Colocar el salario del empleador 4\n$"))
Sue5 = float(input("Colocar el salario del empleador 5\n$"))
Sue6 = float(input("Colocar el salario del empleador 6\n$"))
Sue7 = float(input("Colocar el salario del empleador 7\n$"))
Sue8 = float(input("Colocar el salario del empleador 8\n$"))
Sue9 = float(input("Colocar el salario del empleador 9\n$"))
Sue10 = float(input("Colocar el salario del empleador 10\n$"))

Nomina = Sue1+Sue2+Sue3+Sue4+Sue5+Sue6+Sue7+Sue8+Sue9+Sue10

print("La nomina de la empresa es $",Nomina)0

Colocar el salario del empleador 1
$10
Colocar el salario del empleador 2
$10
Colocar el salario del empleador 3
$1
Colocar el salario del empleador 4
$10
Colocar el salario del empleador 5
$10
Colocar el salario del empleador 6
$10
Colocar el salario del empleador 7
$10
Colocar el salario del empleador 8
$10
Colocar el salario del empleador 9
$10
Colocar el salario del empleador 10
$10
La nomina de la empresa es $ 91.0

In [ ]:
#Ejemplo 3.2

Nomina = 0

i = 1

while i <=10:
  Sue = float(input(f"Colocar el sueldo del empleador {i}\n$"))
  Nomina = Nomina + Sue
  i=i+1
print("La nomina de la empresa es $",Nomina)

Colocar el sueldo del empleador 1
$10
Colocar el sueldo del empleador 2
$10
Colocar el sueldo del empleador 3
$10
Colocar el sueldo del empleador 4
$10
Colocar el sueldo del empleador 5
$10
Colocar el sueldo del empleador 6
$0
Colocar el sueldo del empleador 7
$10
Colocar el sueldo del empleador 8
$10
Colocar el sueldo del empleador 9
$1
Colocar el sueldo del empleador 10
$10
La nomina de la empresa es $ 81.0

In [3]:
1.#Ejemplo 3.4

SumGas = 0

Gasto = float(input("Colocar gasto $"))

while Gasto > -1:
  SumGas = SumGas + Gasto

  Gasto = float(input("Colocar gasto $"))

print("El gasto total realizado es",SumGas)

Colocar gasto $2528
Colocar gasto $3500
Colocar gasto $1600
Colocar gasto $1850
Colocar gasto $150
Colocar gasto $-1
El gasto total realizado es 9628.0